<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans:bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver"></beans:property>
        <beans:property name="url" value="jdbc:mysql://walab.handong.edu/p2_22100419"></beans:property>
        <beans:property name="username" value="p2_22100419"></beans:property>
        <beans:property name="password" value="raequ7Ahth"></beans:property>
    </beans:bean>
    <beans:bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
        <beans:property name="dataSource" ref="ds"></beans:property>
    </beans:bean>
    <beans:bean id="dao" class="com.example.dao.BoardDAO">
        <beans:property name="template" ref="jt"></beans:property>
    </beans:bean>
</beans>